{% extends 'base.html' %}
{% from 'macros.html' import render_field %}
{% block content %}

<div class="jumbotron">
    <div align='center'>
        <h1>{{ current_user.username}}</h1>
        <img align='center' src="{{url_for('static',filename='profile_pics/'+current_user.profile_image)}}" alt="users profile image">
    </div>
</div>

<div class="container">
    <form class="form-group" action="" enctype="multipart/form-data" method="POST">
            {{form.hidden_tag()}}
                {% for field in form %}
            {{ render_field(field) }}
      {% endfor %}
    </form>
</div>
{% endblock %}