{% macro render_field(field) %}
    <div>
        
        {% if field.type == "CSRFTokenField" %}
            {{ field }}
        {% else %}
            {% if field.type == "SubmitField" %}
                <div>{{ field(class="btn btn-primary")}}</div>
                
            {% else %}
                <div class="form-group" >{{ field.label(class="form-control-label") }}
                {{ field(class="form-control form-control-lg")}}</div>
            {% endif %}
        {% endif %}
        {% if field.errors %}
            {% for error in field.errors %}
                <div class="alert alert-warning" role="alert">{{ error }}</div>
            {% endfor %}
        {% endif %}
        
        
    </div>
{% endmacro %}

