{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
    <h3>{{post.title}}</h3>
    <h4>Written by: <a href="{{url_for('users.user_posts', username=post.author.username)}}">{{post.author.username}}</a></h4>
    <h5>Published: {{post.date.strftime('%Y-%m-%d')}}</h5>
    <p>{{post.text}}</p>
    <div >
        {% for tag in post.tags %}
          <a href="{{url_for('blog_posts.posts_by_tag', tag=tag.tag)}}" class="btn btn-outline-secondary btn-sm">{{ tag.tag }}</a>
        {% endfor %}
    </div>
    <br>
    {% if post.author == current_user %}
    <div>
        <a href="{{url_for('blog_posts.update', slug=post.slug)}}"><button type="button" class="btn btn-primary">Update</button></a>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#del_modal">Delete</button>
    </div>
    {% endif %}
    <br>
    <p>
        <a class="btn btn-outline-secondary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
          Comments
        </a>
    </p>
    <div class="collapse" id="collapseExample">
      
      <div class="card card-body">
        {% for comment in comments.items %}
          <div class="card">
              <div class="card-header">
                  <a href="{{ url_for('users.user_posts', username=comment.author.username) }}" >{{ comment.author.username }}</a>
                  said {{ comment.timestamp.strftime('%Y-%m-%d at %H:%M') }}
              </div>
              <div class="card-body">
                <blockquote class="blockquote mb-0">
                  <p>{{ comment.text }}</p>
                  <footer class="blockquote-footer">
                      {% if comment.author == current_user %}
                      <a href="{{ url_for('blog_posts.remove_comment', id=comment.id, post_slug=post.slug) }}">Remove</a>
                      {% endif %}
                  </footer>
                </blockquote>
              </div>
          </div>
        {% endfor %}

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center pt-3">
                {% for page_num in comments.iter_pages(left_edge=1,right_edge=1,left_current=1,right_current=1) %}
                    {% if comments.page == page_num %}
                      <li class='page-item disabled'>
                          <a class="page-link" href="{{url_for('blog_posts.view_post', slug=post.slug, page=page_num)}}">{{ page_num}}</a>
                      </li>
                    {% else %}
                        <li class='page-item' href="#collapseExample">
                            <a class="page-link" href="{{url_for('blog_posts.view_post', slug=post.slug, page=page_num)}}">{{ page_num}}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        
        </nav>

      </div>
      
      {% if current_user.is_authenticated %}
      <div>
        <form action="" method="POST">
          {{ form.hidden_tag() }}
          <div class="form-group">
            {{ form.text(class="form-control") }}
            {{ form.submit(class="btn btn-secondary btn-sm")}}
          </div>
        </form>
      </div>
      {% endif %}
    </div>
</div>

<div class="modal fade" id="del_modal" tabindex="-1" role="dialog" aria-labelledby="del_modalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Delete Post?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Are you sure you want to delete this post?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <form action="{{url_for('blog_posts.delete', slug=post.slug)}}" method="POST">
                  <input type="submit" class="btn btn-primary" value="Delete">
              </form>
            </div>
          </div>
        </div>
      </div>


{% endblock %}